.input-wrap {
	position: relative;
}

.clear-input-btn {
	background: $white;
	border: 0;
	color: $gray-light;
	display: block;
	line-height: $line-height-base;
	opacity: 0;
	padding: $padding-base-vertical $padding-base-horizontal;
	position: absolute;
	@include td-pos(right, 3px);
	top: 1px;
	transition: opacity .2s;
	z-index: 3;

	&:hover {
		color: $text-color;
	}
}

.input-sm + .clear-input-btn {
	line-height: $line-height-small;
	padding: $padding-small-vertical $padding-small-horizontal;
}

.input-lg + .clear-input-btn {
	line-height: $line-height-large;
	padding: $padding-large-vertical $padding-large-horizontal;
}

input:focus + .clear-input-btn {
	background-color: $white;
	opacity: 1;
}
